<!-- Header -->
{{> header }}

{{> searchformwithalphabet showAlphabet=true showTagline=true }}

<!-- something for the blog -->
{{> blogs }}
<!-- end something for the blog -->

<!-- middle  section -->
<section>

    <div class="container">

        <div class="row midbar">

            <div class="col-md-4 col-lg-4 popo-bg">

                <p class="popotext">{{message "lang.latest-search"}}</p>

                <ul class="popo-wd">
                    {{#each latestSearches}}
                        <li><a href="/entries/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>

            </div>

            <div class="col-md-4 popo-bg">

                <p class="popotext">{{message "lang.latest-add"}}</p>

                <ul class="popo-wd">
                    {{#each latestAdditions}}
                        <li><a href="/entries/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>

            </div>

            <div class="col-md-4 popo-bg">

                <p class="popotext">{{message "lang.most-popular"}}</p>

                <ul class="popo-wd">
                    {{#each mostPopular}}
                        <li><a href="/entries/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>

            </div>

        </div>

    </div>

</section>
<!-- end middle  section -->


<!-- CTA  section -->

<section class="ctab">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h2>Would You Like To Add To The Dictionary?</h2>

                <p>We will appreciate your input as we try to make this dictionary more comprehensive</p>

                <a href="/submit-word" class="btn btn-lg btn-link" style="margin-bottom:15px">Add To Dictionary</a>

            </div>

        </div>

    </div>

</section>

<section class="faqq hidden">

    <div class="container">

        <div class="row">

            <h2 class="faqq-header">Frequently Asked Questions</h2>

            <div class="col-md-6" style="padding-bottom: 30px;">

                <h4>a. How do you get words?</h4><br>
                <p>Lorem ipsum lorem ipsum lorem ipsum lore edr erwt aer arew are
                    a<br>Lorem ipsum lorem ipsum lorem ipsum lore edr erwt aer arew are a
                    <br>Lorem ipsum lorem ipsum lorem ipsum lore edr erwt aer arew are a
                </p>

            </div>

            <div class="col-md-6" style="padding-bottom: 30px;">

                <h4>b. How do you get words?</h4><br>
                <p>Lorem ipsum lorem ipsum lorem ipsum lore edr erwt aer arew are
                    a<br>Lorem ipsum lorem ipsum lorem ipsum lore edr erwt aer arew are a
                    <br>Lorem ipsum lorem ipsum lorem ipsum lore edr erwt aer arew are a
                </p>

            </div>

            <a href="/faqs" class="btn btn-lg btn-link" style="margin-bottom:15px;">Read More</a>

        </div>

    </div>

</section>

<!-- footer -->
{{> footer }}