<!-- Header -->
{{> header }}

{{> searchformwithalphabet }}

<!-- main-content -->
<section class="exsh">

    <div class="container">

        <div class="row midbar">

            <h1>{{letter}}</h1>

            {{#if count}}
                <h5>Words starting with '{{toUpperCase letter}}': {{count}}</h5>
            {{else}}
                <h5>No words starting with '{{toUpperCase letter}}' yet. <a href="/submit-name">Want to add one?</a></h5>
            {{/if}}

            {{#if words}}
                <p>Click on any word you want to learn more about.</p>

                <ul class="exsh-wd">
                    {{#each words}}
                        <a title="{{this.definitions.0.content}}" class="word intonation" href="/entries/{{this.word}}">
                            <li>{{this.word}}</li>
                        </a>
                    {{/each}}

                </ul>
            {{/if}}
        </div>

    </div>

</section>

<!-- /main-content -->

<!-- footer -->
{{> footer }}