<!-- Header -->
{{> header }}

{{> minisearchform }}

<!-- main-content -->
<section id="content">
    <div class="container">
        <div class="row search-result">
            <div class="col-sm-12 col-md-8 entry">

                <h2 class="intonation" id="word-entry">
                    {{word.word }}
                    <button class="btn btn-default btn-sm" id="tts-button">
                        <i class="fa fa-volume-up" data-placement="top" title="{{message "lang.play-sound"}}"></i>
                    </button>
                </h2>

                <small>{{word.partOfSpeech}} | {{word.style}} | {{word.ipaNotation}}</small>
                <div class="share mt-2">

                    <a class="btn btn-sm btn-success" href="#/improve-entry" data-toggle="modal"
                       data-target="#improveEntryModal" style="margin-right:20px">
                        {{message "lang.improve-entry"}}  <i class="fa fa-pencil"></i>
                    </a>

                    <span class="text-muted">{{message "lang.share"}} <i class="fa fa-share-alt"></i></span>

                    <a target="_blank" class="btn btn-social btn-sm btn-fb btn-primary"
                       href="http://www.facebook.com/sharer.php?u=http%3A%2F%2F{{host}}/entries/{{word.word}}"><i
                            class="fa fa-facebook"></i> </a>
                    <a target="_blank" class="btn btn-social btn-sm btn-tw btn-info"
                       href="https://twitter.com/intent/tweet?url=http%3A%2F%2F{{host}}/entries/{{word.word}}&amp;text=Did you know {{word.word}} means {{word.meaning}}?&amp;hashtags=YorubaNames&amp;via=YorubaNames"><i
                            class="fa fa-twitter"></i> </a>

                </div>

                <br>
                <h4>{{message "lang.topDefinition"}}</h4>
                <p class="intonation">{{ word.definitions.0.content }}</p>
                <p class="intonation"><strong>{{message "lang.english-translation"}}
                    :</strong> {{word.definitions.0.content}}</p>
                <br>

                <h4>{{message "lang.other-definitions"}}</h4>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#q1" aria-expanded="false"
                                   class="collapsed">
                                    <h4>Why TTSYorùbá?</h4>
                                </a>
                            </h4>
                        </div>
                        <div id="q1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>
                                    Yorùbá is a language spoken by over 30 million people in Nigeria alone and by
                                    millions more in Benin Republic, Togo, Ghana,
                                    Brazil, Cuba, Jamaica, and the United States. It is also a language with
                                    an extensive and enduring literary and religious value, but with inadequate
                                    representation in technology (like most African languages). By creating
                                    tools like the TTS machine (and many more like
                                    <a id="link" href="http://www.yorubaname.com" target="_blank">the YorubaName
                                        dictionary</a>,
                                    <a id="link" href="http://blog.yorubaname.com/keyboards/">free downloadable
                                        keyboards</a>, etc, we are trying to better empower
                                    African languages to serve interested users in the technological age.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#q2" aria-expanded="false"
                                   class="collapsed">
                                    <h4>How can I use this tool?</h4>
                                </a>
                            </h4>
                        </div>
                        <div id="q2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>
                                    It can be used as either a
                                    <strong>text reader</strong> or
                                    <strong>tone/spelling verifier</strong> or as a
                                    <strong>tone marking teacher</strong>.
                                </p>
                                <p>
                                    As a
                                    <strong>text reader</strong>, you can paste a body of text in the space provided
                                    and have the machine read it to you. This will work for people who have
                                    problems reading Yorùbá texts but can comprehend it if spoken to them.</p>
                                <p>
                                    As
                                    <strong>tone/spelling verifier</strong>, you can use TTSYorùbá to verify that
                                    the tonemarking you have placed on a piece of text is correct by having
                                    the machine pronounce it for you first. This also works for people who
                                    have had clients deliver translated Yorùbá texts to them. By copying
                                    and pasting random segments of the delivered work into this machine,
                                    you can hear the output and know whether the work is well done or not.</p>
                                <p>
                                    As a
                                    <strong>tone marking teacher</strong>, you will be able to use the application
                                    to actually understand how different tones are pronounced. By the time
                                    you try out different tonal combinations on different words, you will
                                    eventually figure out how tonemarking works in Yorùbá. So, in some
                                    way, this can actually teach you how to learn to write properly in Yorùbá.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#q3" aria-expanded="false"
                                   class="collapsed">
                                    <h4>How else can I use it?</h4>
                                </a>
                            </h4>
                        </div>
                        <div id="q3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>You can also use it to send audio missives online. For instance, each generated
                                    sound can be shared on Twitter or Facebook, or even copied and sent through
                                    messenger or other means. That way, texting becomes not the only way
                                    to communicate. You can now send sounds, which can be intimate or mischievous,
                                    as you want it. Up to you how you decide to use it.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /meaning of word -->
                <br><br>
                <h4 class="intonation">{{message "lang.morphology"}}</h4>
                <p>{{word.morphology}}</p>

                <!-- /morphology -->

                <br><br>
                <h4>{{message "lang.etymology"}}</h4>
                {{#each word.etymology}}
                    <strong>{{this.part}}</strong><span> - {{this.meaning}}</span><br>
                {{/each}}


                <!-- /etymology -->


                <br><br>
                <h4>{{message "lang.geolocation"}}</h4>
                <p>{{message "lang.commonin"}}:
                    {{#each word.geoLocation}}
                        <br/>{{this.place}}
                    {{/each}}
                </p>

                <!-- /geolocation -->

                <br><br>
                <!-- /famousPeople -->

                <br><br>
                <h4>{{message "lang.media-links"}}</h4>
                <p id="media-links">
                <ul>
                    {{#each word.mediaLinks}}
                        <li>
                            <a href="{{this.link}}" target="_blank">{{this.caption}} ({{this.type}})</a>
                        </li>
                    {{/each}}
                </ul>
                </p>

                <!-- /media -->


                <br><br>
                <h4>{{message "lang.variants"}}</h4>
                <p class="intonation">{{word.variants}}</p>

                <!-- /variants -->

                <br><br>
                <h4>{{message "lang.see-also"}}</h4>

                <!-- /see also -->

            </div>

            <!-- sidebar -->
            <aside class="col-sm-12 col-md-4">
                {{> rsidebar }}
            </aside>
            <!-- /sidebar -->
            {{> alphabets}}
        </div>

    </div>
</section>
<!-- /main-content -->

<!--Improve Entry Modal -->
<div class="modal fade" id="improveEntryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{message "lang.improve-entry.help-us"}} "{{ word.word }}"</h3>
            </div>
            <form name="word_feedback" class="modal-body" action="/v1/feedbacks" method="post">
                <div class="response"></div>
                <div class="form-group">
                    <input id="wordToFeedback" type="hidden" value="{{word.word}}"/>
                    <p class="lead">{{message "lang.improve-entry.sub-text"}}</p>
                    <textarea name="feedback" id="improveEntry" class="form-control" rows="5"
                              required="true"></textarea>
                </div>
                <button type="submit" id="submitEntry" class="btn btn-success btn-lg">Submit Feedback</button>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" data-dismiss="modal">Cancel</a>
            </form>
        </div>
    </div>
</div>
<!--/Improve Entry Modal -->

<!-- footer -->
{{> footer }}