<!-- Header -->
{{> header }}

{{> searchform }}

<!-- /main-content -->

<section class="ryt">

    <div class="container">

        <div class="row">

            <div class=" col-lg-8 col-xl-9">

                <div class="row entry-header">


                    <div class="col-lg-12">

                        <h1 class="hword" id="word-entry"> {{word.word}} </h1>

                        <span class="fl"><a class="important-blue-link" href="#">{{word.partOfSpeech}}</a></span>

                    </div>

                </div>

                <div class="row entry-attr">

                    <div class="col">

                        {{#if word.syllables }}
                            <span class="word-syllables">{{word.syllables}}</span>
                            <span class="syl-break"> |</span>
                        {{/if}}


                        <span class="prs">

                                <span class="first-slash">\</span>

                            {{#if word.ipaNotation}}
                                <span class="pr">{{word.ipaNotation}}</span>
                            {{/if}}

                            <a class="play-pron hw-play-pron hoverable converted pointer" id="tts-button">

                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="22px" height="22px" viewBox="0 0 26 26" version="1.1"
                                 class="svg replaced-svg">

                                <defs>

                                    <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">

                                        <stop offset="0%"
                                              style="stop-color:rgb(38,86,103);stop-opacity:1"></stop>

                                        <stop offset="100%"
                                              style="stop-color:rgb(15,56,80);stop-opacity:1"></stop>

                                    </linearGradient>

                                </defs>

                                <g id="Audio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                    <g id="Icon/AudioPron">

                                        <g id="Audio">

                                            <circle id="Oval" class="outline" fill="url(#grad2) #265667" cx="13"
                                                    cy="13" r="13"></circle>

                                            <polygon class="logo" id="Path-2" stroke="#FFFFFF" fill="#FFFFFF"
                                                     points="6 10.5031797 6 15.4563465 9.37102011 15.4563465 13 18 13 8.02789307 9.5 10.5031797"></polygon>

                                            <path class="logo2"
                                                  d="M16,8.5 C17.4887382,10.0718463 18.2331073,11.569707 18.2331073,12.993582 C18.2331073,15.1293945 17.1165537,16.4498291 16,17.5894775"
                                                  id="Path-3" stroke="#FFFFFF"></path>

                                            <path class="logo2"
                                                  d="M18.0189209,6.5 C20.0989176,8.3652264 21.138916,10.5318931 21.138916,13 C21.138916,15.4681069 20.0723674,17.6756672 17.93927,19.6226807"
                                                  id="Path-4" stroke="#FFFFFF"></path>

                                        </g>

                                    </g>

                                </g>

                            </svg>
                        </a>

                            <span class="last-slash">\</span><span class="syl-break"> |</span>

                            {{#if word.geoLocation}}
                                <span class="word-syllables"><a href="#"
                                                                style="text-decoration: underline;">{{word.geoLocation.0.place}}</a></span>
                                <span class="syl-break"> |</span>
                            {{/if}}

                            <span class="smd">

                                <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2F{{host}}/entries/{{word.word}}" title="Share to Facebook"
                                   target="_blank"><i class="fa fa-facebook"></i></a>

                                <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2F{{host}}/entries/{{word.word}}&amp;text=Did you know {{word.word}} means '{{word.definitions.0.content}}'?&amp;hashtags=YorubaWords&amp;via=YorubaWords"
                                   title="Share to Twitter" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <!--<a href="#"><i class="fa fa-instagram"></i></a>-->

                            </span>

                        </span>

                    </div>

                </div>


                <div class="row vg-header" style="padding-top: 20px; padding-bottom: 20px;">

                    <div class="col">

                        <h5 class="ptw">
                            <em>

                                {{#if word.grammaticalFeature}}
                                    <span class="ety-sl" data-entry-id="1"> <a href="#"
                                                                               style="text-decoration: underline;">{{word.grammaticalFeature}}</a></span>
                                    {{#if word.style}}
                                        |
                                    {{/if}}
                                {{/if}}

                                {{#if word.style}}
                                    <span class="ety-sl" data-entry-id="1"><a href="#"
                                                                              style="text-decoration: underline;">{{word.style}}</a></span>
                                {{/if}}
                            </em>

                        </h5>
                    </div>

                </div>


                <div id="dictionary-entry-1">


                    <div class="row vg-header">

                        <div class="col">

                            <h2 class="ptm">Definition of <em>{{word.word}}&nbsp;</em></h2>
                            <p class="entryNumbers"></p>
                        </div>

                    </div>


                    <div class="vg">

                        {{#each word.definitions}}

                            <div class="sb has-num has-let">

                                <div class="sb-0">

                                    <p class="sense has-num-only">

                                        <span class="sn sense-1"><span class="num">{{increment @index}}</span></span>

                                        <span class="dt ">

                                        <span class="dtText">
                                            <strong class="mw_t_bc">: </strong>{{this.content}}<strong
                                                class="mw_t_bc">:</strong>

                                            {{#if this.examples.0.content}}

                                                <span class="ex-sent t no-aq sents">
                                                    {{this.examples.0.content}}
                                                </span>

                                            {{/if}}

                                        </span>

                                    </span>
                                    </p>

                                </div>

                            </div>

                        {{/each}}

                    </div>

                    <div id="first-known-anchor" class="row widget">

                        <h2 class="ptm">English Translation</h2>

                        <p class="ety-sl">
                            {{#each word.definitions}}
                                {{this.englishTranslation}}{{#unless @last}}<span>,&nbsp;</span>{{/unless}}
                            {{/each}}
                        </p>

                    </div>

                    {{#if word.history}}

                        <div id="first-known-anchor" class="row widget">

                            <h2 class="ptm">Extra Information About This <em>word&nbsp;</em></h2>
                            <p class="entryNumbers"></p>  <br>

                            {{#if word.history}}
                                <strong>History</strong>

                                <br>

                                <p>
                                    {{word.history}}
                                </p>
                            {{/if}}

                        </div>

                    {{/if}}

                </div>


                {{#if word.examples}}
                    <div id="dictionary-entry-1">

                        <div class="row vg-header">

                            <div class="col">

                                <h2 class="ptm">Example of <em>{{word.word}}&nbsp;</em></h2>
                                <p class="entryNumbers"></p>

                            </div>

                        </div>


                        <div class="vg">


                            <div class="sb has-num">

                                <div class="sb-0">

                                    <p class="sense has-num-only">

                                        <span class="sn sense-1"><span class="num">a.</span></span>

                                        <span class="dt ">

                                        <span class="dtText">
                                            <strong class="mw_t_bc"> </strong>hard to do, make, or carry out

                                        </span>

                                    </span>
                                    </p>

                                </div>

                            </div>

                        </div>


                    </div>
                {{/if}}

                {{#if word.morphology}}

                    <div id="first-known-anchor" class="row widget">

                        <h2 class="ptm">Morphology</h2>

                        <p class="ety-sl">
                            <span>{{word.morphology}}</span>
                        </p>

                    </div>

                    <div id="first-known-anchor" class="row widget">

                        <h2 class="ptm">Gloss</h2>

                        {{#each word.etymology}}

                            <p class="ety-sl" data-entry-id="1"><strong>{{this.part}}</strong> - {{this.meaning}}</p>

                        {{/each}}

                    </div>

                {{/if}}

                {{#if word.variants}}

                    <div id="first-known-anchor" class="row widget">

                        <h2 class="ptm">Variants</h2>

                        <ul>
                            {{#each word.variants}}
                                <li>{{this.word}}</li>
                            {{/each}}
                        </ul>

                    </div>

                {{/if}}


                <div class="row widget">

                    <h2 class="ptm">What Do You Think About This Word?</h2>

                    <p class="ety-sl" data-entry-id="1">How could we have illustrated it better?</p>

                    <form name="word_feedback" action="/v1/feedbacks" method="post">
                        <input id="wordToFeedback" type="hidden" value="{{word.word}}"/>
                        <textarea name="feedback" id="improveEntry" required="true" cols="40" rows="5"></textarea>
                        <br>
                        <button type="submit" id="submitEntry" class="btnz">Submit Message</button>
                    </form>

                </div>


                <div class="row widget">

                    <i class="fa fa-edit"></i>

                    {{#if word.updatedAt}}
                        <span class="ety-sl" data-entry-id="1">Updated on <strong>{{longDate word.updatedAt}}</strong></span>

                        and
                    {{/if}}

                    <span class="ety-sl" data-entry-id="1">Submitted on <strong>{{longDate word.createdAt}}</strong></span>

                </div>


            </div>

            {{> rsidebar }}

        </div>
    </div>
</section>

<br>

<!-- /main-content -->
<!-- footer -->
{{> footer }}